/* custom input  */
input{
    height: 30px;
    width: 140px;
    border: none;
    padding-left: 10px;
}
.save-input{
    width: 100px;
}
.input-field{
    width: 50%;
}
.input-text{
    margin-top: 10px;
    font-size: 18px;
}

/* custom save input field  */
.save-section{
    height: 30px;
}
